// @media
@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}

// social
@mixin social-link {
  margin-right: 15px;
  font-size: 30px;
  color: $grey-color;
  transition: 0.1s all;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: $grey-color;
    animation-name: zoomx2;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

// nav
@mixin nav-link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 20px;
  color: $grey-color;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    display: block;
    height: 2px;
    border-radius: 1px;
    width: 0%;
    background-color: $grey-color;
    transition: 0.2s all;
  }
  &:hover {
    color: $grey-color;
    &::before {
      width: 100%;
    }
  }
}
