@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Black.eot');
  src: url('../font/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Black.woff') format('woff'),
    url('../font/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-ExtraBold.eot');
  src: url('../font/Montserrat-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../font/Montserrat-ExtraBold.woff') format('woff'),
    url('../font/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Medium.eot');
  src: url('../font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Medium.woff') format('woff'),
    url('../font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Light.eot');
  src: url('../font/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Light.woff') format('woff'),
    url('../font/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
