@import 'base/variables';

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #eae7dc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

@import 'blocks/header';
@import 'blocks/social';
@import 'blocks/promo';
