@import 'base/bootstrap-reboot';
@import 'base/font';
@import 'base/variables';
@import 'base/animation';
@import 'base/mixins';

* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

@import 'blocks/header';
@import 'blocks/social';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/result';
@import 'blocks/portfolio';

// <div class="about__github">
//             <img src="../img/github.png" alt="" />
//             <a
//               href="https://github.com/vladpanishev/myPortfolio"
//               target="_blank"
//             >
//               <i class="fa-brands fa-github-alt"></i>
//             </a>
//           </div>

// &__github {
//   img {
//     transform: translateY(1px) translateX();
//   }
//   margin-top: 30px;
//   i {
//     color: #fff;
//     font-size: 32px;
//     &:hover {
//       animation-name: zoomx2;
//       animation-play-state: running;
//       animation-iteration-count: 1;
//       animation-duration: 0.1s;
//       animation-timing-function: linear;
//       animation-fill-mode: forwards;
//     }
//   }
// }
