.about {
  padding: 55px 0 40px;
  &__inner {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__block-text {
    position: relative;

    width: 675px;
    padding: 35px 15px 15px;

    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    color: $grey-color;

    background-color: #323436;
    box-shadow: 0 0px 7px rgb(0 0 0 / 36%), 0 3px 10px rgb(0 0 0 / 22%);
    p {
      &:nth-child(2) {
        margin-bottom: 20px;
      }
      &:nth-child(3) {
        margin-bottom: 20px;
      }
      i {
        font-size: 16px;
        color: $grey-color;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
  }

  svg {
    width: 40px;
    height: 40px;
    margin-left: 25px;

    fill: $grey-color;
    &:nth-child(1) {
      transform: scale(0.85);
    }
    &:nth-child(3) {
      transform: scale(0.85);
    }
    &:nth-child(8) {
      transform: scale(1.1);
    }
    &:first-child {
      margin-left: 0;
    }
  }

  &__img {
    width: 430px;
  }

  &__img2 {
    display: none;
  }
}

// @media
@include desktop {
  .about {
    &__inner {
      max-width: 962px;
    }

    &__block-text {
      width: 572px;
      margin-right: 0;

      font-size: 16px;
      line-height: 24px;

      box-shadow: 0 0px 3px rgb(0 0 0 / 36%), 0 3px 10px rgb(0 0 0 / 22%);
      p {
        &:nth-child(2) {
          margin-bottom: 18px;
        }
        &:nth-child(3) {
          margin-bottom: 18px;
        }
        i {
          font-size: 14px;
        }
      }
    }

    svg {
      width: 35px;
      height: 35px;
      margin-left: 22px;
    }

    &__img {
      width: 365px;
    }
  }
}

@include laptop {
  .about {
    padding: 45px 0 30px;
    &__inner {
      max-width: 738px;
    }

    &__block-text {
      width: 464px;
      padding: 25px 15px 15px;

      font-size: 12px;
      line-height: 19px;
      p {
        &:nth-child(2) {
          margin-bottom: 13px;
        }
        &:nth-child(3) {
          margin-bottom: 13px;
        }
        i {
          font-size: 12px;
        }
      }
    }

    svg {
      width: 30px;
      height: 30px;
      margin-left: 15px;
    }

    &__img {
      width: 260px;
    }
  }
}

@include tablet {
  .about {
    padding: 30px 0 20px;
    &__inner {
      max-width: 546px;
    }

    &__block-text {
      width: 361px;
      padding: 17px 10px 10px;

      font-size: 9px;
      line-height: 14px;
      p {
        &:nth-child(2) {
          margin-bottom: 10px;
        }
        &:nth-child(3) {
          margin-bottom: 10px;
        }
        i {
          font-size: 9px;
        }
      }
    }

    svg {
      width: 21px;
      height: 21px;
      margin-left: 13px;
    }

    &__img {
      width: 176px;
    }

    &__icons {
      margin-bottom: 0;
    }
  }
}

@include mobile {
  .about {
    padding-bottom: 20px;
    &__inner {
      flex-direction: column;
      max-width: 290px;
    }

    &__block-text {
      width: 308px;
      margin-bottom: 15px;

      font-size: 8px;
      line-height: 13px;
      p {
        i {
          font-size: 9px;
        }
      }
    }

    svg {
      width: 19px;
      height: 19px;
      margin-left: 11px;
    }

    &__img {
      display: none;
    }

    &__img2 {
      display: block;
      width: 308px;
    }
  }
}
