.about {
  height: 520px;
  padding: 40px 0 20px;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    transition: 0.3s all;
  }
  &__text {
    margin-right: 50px;
    position: relative;
    padding: 15px;
    background-color: #323436;
    box-shadow: 0 -0px 7px rgb(0 0 0 / 36%), 0 3px 10px rgb(0 0 0 / 22%);
    color: $grey-color;
    width: 630px;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    p {
      &:nth-child(1) {
        margin-bottom: 20px;
      }
      &:nth-child(2) {
        margin-bottom: 30px;
      }
      i {
        color: $grey-color;
        font-size: 16px;
      }
    }
  }
  &__icons {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
  }
  svg {
    margin-right: 20px;
    fill: $grey-color;
    width: 34px;
    height: 30px;
    &:nth-child(1) {
      transform: translateX(2px);
    }
    &:nth-child(2) {
      transform: scale(1.15);
    }
    &:last-child {
      margin: 0;
      transform: translateX(-6px);
    }
  }

  &__img {
    width: 380px;
    margin-left: 50px;
  }
}

// @media
@include desktop {
  .about {
    height: 465px;
    padding-bottom: 0;
    &__container {
      display: none;
    }
    &__inner {
      justify-content: space-around;
      padding-bottom: 0;
    }
    &__text {
      width: 500px;
      font-size: 16px;
      line-height: 24px;
      margin-right: 0;
      p {
        i {
          font-size: 14px;
        }
      }
    }
    &__img {
      width: 330px;
      margin-left: 0;
    }
  }
}

@include laptop {
  .about {
    height: 375px;
    &__inner {
      padding: 0 20px;
    }
    &__text {
      width: 400px;
      font-size: 12px;
      line-height: 19px;
      p {
        i {
          font-size: 13px;
        }
      }
    }
    &__img {
      width: 272px;
    }
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

@include tablet {
  .about {
    height: 290px;
    padding: 33px 0 20px;
    &__inner {
      justify-content: center;
    }
    &__text {
      padding: 10px;
      font-size: 10px;
      line-height: 16px;
      p {
        &:nth-child(2) {
          margin-bottom: 15px;
        }
        i {
          font-size: 10px;
        }
      }
    }
    &__img {
      width: 210px;
      margin-left: 15px;
    }
    svg {
      width: 16px;
      height: 16px;
      margin-right: 13px;
    }
  }
}
