.btn {
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #fff;
  text-transform: uppercase;
  color: #fff;
  font-family: $second-font;
  font-weight: 500;
  &__portfolio {
    margin-top: 80px;
    width: 150px;
    height: 42px;
    transition: 0.2s ease-out all;
    &:hover {
      box-shadow: 150px 0 0 0 rgba(255, 255, 255, 0.2) inset;
    }
  }
  &__contact {
    margin-top: 20px;
    width: 400px;
    height: 50px;
    font-size: 19px;
    transition: 0.2s ease-out all;
    &:hover {
      box-shadow: 400px 0 0 0 rgb(244, 237, 226, 0.2) inset;
    }
  }
}
