.contact {
  padding-bottom: 90px;

  &__inner {
    padding-left: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__block-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 680px;

    align-items: center;
  }

  &__descr {
    margin-bottom: 25px;

    font-size: 24px;
    text-align: center;
    color: $grey-color;
    font-family: $second-font;
  }

  &__img {
    width: 340px;
  }
}

// @media
@include desktop {
  .contact {
    &__inner {
      width: 962px;
    }
    &__block-message {
      width: 500px;
    }
    &__descr {
      font-size: 21px;
      margin-bottom: 30px;
    }
  }

  @include laptop {
    .contact {
      padding-bottom: 70px;

      &__inner {
        padding-left: 0;
        width: 738px;
      }

      &__block-message {
        width: 350px;
      }

      &__descr {
        font-size: 16px;
      }

      &__img {
        width: 317px;
      }
    }
  }

  @include tablet {
    .contact {
      &__inner {
        width: 546px;
      }
      &__block-message {
        width: 263px;
      }

      &__descr {
        margin-bottom: 20px;

        font-size: 12px;
      }

      &__img {
        width: 218px;
        transform: translateY(13px);
      }
    }
  }

  @include mobile {
    .contact {
      &__inner {
        width: 290px;
        flex-direction: column;
        align-items: center;
      }
      &__block-form {
        order: 2;
      }

      &__block-message {
        position: relative;
        order: 1;

        width: 280px;
        margin-left: 0;
      }

      &__descr {
        margin-bottom: 20px;
      }

      &__img {
        display: none;
      }
    }
  }
}
