.contact {
  padding-bottom: 90px;

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-left: 25px;
    margin: 0 auto;
  }

  &__block-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__descr {
    margin-bottom: 25px;

    font-size: 30px;
    text-align: center;
    color: $grey-color;
    font-family: $second-font;
  }

  &__img {
    width: 370px;
  }
}

// @media
@include desktop {
  .contact {
    &__wrapper {
      width: 962px;
    }

    &__descr {
      margin-bottom: 22px;

      font-size: 25px;
    }

    &__img {
      width: 330px;
    }
  }

  @include laptop {
    .contact {
      padding-bottom: 70px;
      &__wrapper {
        width: 738px;
        padding-left: 0;
      }

      &__descr {
        margin-bottom: 16px;

        font-size: 21px;
      }

      &__img {
        width: 300px;
      }
    }
  }

  @include tablet {
    .contact {
      padding-bottom: 0;
      &__wrapper {
        width: 546px;
      }

      &__descr {
        margin-bottom: 13px;

        font-size: 16px;
      }

      &__img {
        width: 230px;
      }
    }
  }

  @include mobile {
    .contact {
      &__wrapper {
        flex-direction: column;
        align-items: center;
        width: 290px;
      }

      // &__block-form {
      //   order: 2;
      // }

      // &__block-message {
      //   position: relative;
      //   order: 1;

      //   width: 280px;
      //   margin-left: 0;
      // }

      &__descr {
        font-size: 20px;
      }

      &__img {
        display: none;
      }
    }
  }
}
