.contact {
  height: 620px;
  padding: 45px 0;
  &__subtitle {
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    color: $grey-color;
    font-family: $second-font;
  }
  &__inner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  &__message {
    margin-left: 164px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__img {
    width: 350px;
  }
}

@include desktop {
  .contact {
    height: 560px;
    padding: 20px 0;
    &__message {
      margin-left: 75px;
    }
  }
}
