.form {
  &__contact {
    position: relative;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;
      height: 50px;
      padding: 5px;
      margin-bottom: 15px;

      font-family: $second-font;
      color: $grey-color;
      font-size: 15px;

      background-color: rgba(255, 255, 255, 0);
      border: solid 1px #f4ede2;

      &:nth-child(2) {
        margin-bottom: 20px;
      }

      &::placeholder {
        color: $grey-color;
      }
    }
    textarea {
      width: 100%;
      min-height: 150px;
      padding: 5px;

      color: $grey-color;
      font-family: $second-font;
      font-size: 15px;

      background-color: rgba(255, 255, 255, 0);
      border: solid 1px #f4ede2;

      resize: none;

      &::placeholder {
        color: $grey-color;
      }
    }
  }
}

// @media
@include laptop {
  .form {
    &__contact {
      width: 300px;
      input {
        height: 45px;

        font-size: 13px;
      }

      textarea {
        min-height: 130px;

        font-size: 13px;
      }
    }
  }
}

@include tablet {
  .form {
    &__contact {
      width: 220px;
      input {
        height: 35px;
        margin-bottom: 10px;

        font-size: 10px;

        &:nth-child(2) {
          margin-bottom: 10px;
        }
      }

      textarea {
        font-size: 10px;
      }
    }
  }

  @include mobile {
    .form {
      &__contact {
        input {
          height: 30px;
          margin-bottom: 10px;

          font-size: 10px;

          &:nth-child(2) {
            margin-bottom: 10px;
          }
        }

        textarea {
          min-height: 120px;

          font-size: 10px;
        }
      }
    }
  }
}
