.header {
  display: flex;
  align-items: center;
  padding: 13px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__logo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 43px;
    line-height: 35px;
    color: $grey-color;
    &:hover {
      color: $grey-color;
    }
    &-burger {
      display: none;
    }
  }
}

// @media
@include desktop {
  .header {
    &__inner {
      max-width: 962px;
    }

    &__logo {
      font-size: 38px;
    }
  }
}

@include laptop {
  .header {
    padding: 9px 0;
    &__inner {
      max-width: 738px;
    }
    
    &__logo {
      font-size: 28px;
    }
  }
}

@include tablet {
  .header {
    &__inner {
      max-width: 546px;
    }

    &__logo {
      font-size: 21px;
      line-height: 18px;
    }
  }
}

@include mobile {
  .header {
    position: relative;

    padding: 6px 0;
    &__inner {
      justify-content: flex-end;
    }

    &__logo {
      position: absolute;
      top: 50%;
      left: 50%;

      font-size: 16px;
      line-height: 16px;

      transform: translateX(-78%) translateY(-50%);
      &-burger {
        position: absolute;
        top: 20px;

        display: block;

        font-size: 30px;

        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}
