.header {
  height: 70px;
  padding: 13px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    position: relative;
    display: block;
    background-color: $black-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 43px;
    font-size: 43px;
    width: 252px;
    color: $grey-color;
    transition: 0.2s all;
    &:hover {
      color: $grey-color;
    }
  }
}

@include desktop {
  .header {
    height: 67px;
    &__logo {
      font-size: 40px;
    }
  }
}
