.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    &-link {
      @include nav-link;
    }
  }
  &__portfolio {
    margin: 20px 0 50px;
    &-link {
      @include nav-link;
    }
  }
}

@include desktop {
  .nav {
    &__portfolio {
      margin: 20px 0 35px;
    }
  }
}
