.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    &-link {
      @include nav-link;
    }
  }
  &__portfolio {
    margin: 20px 0 50px;
    &-link {
      @include nav-link;
    }
  }
}

// @media
@include desktop {
  .nav {
    &__header {
      &-link {
        font-size: 17px;
      }
    }
    &__portfolio {
      margin: 20px 0 35px;
      &-link {
        font-size: 17px;
      }
    }
  }
}

@include laptop {
  .nav {
    &__header {
      &-link {
        font-size: 14px;
      }
    }
    &__portfolio {
      margin: 20px 0 25px;
      &-link {
        font-size: 14px;
      }
    }
  }
}

@include tablet {
  .nav {
    &__header {
      &-link {
        font-size: 10px;
        margin-right: 15px;
      }
    }
    &__portfolio {
      margin: 15px 0 20px;
      &-link {
        font-size: 10px;
        margin-right: 15px;
      }
    }
  }
}
