.nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }

  &__portfolio {
    margin-bottom: 50px;
  }

  &__link {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: $grey-color;
    &::before {
      content: '';
      position: absolute;
      top: 25px;
      left: 0;

      display: block;
      height: 2px;
      width: 0%;

      border-radius: 1px;
      background-color: $grey-color;

      transition: 0.2s all;
    }
    &:hover {
      color: $grey-color;
      &::before {
        width: 100%;
      }
    }

    &-header {
      i {
        display: none;
      }
    }
  }

  &-text {
    display: none;
  }
}

// @media
@include desktop {
  .nav {
    &__portfolio {
      margin-bottom: 35px;
    }

    &__link {
      font-size: 17px;
    }
  }
}

@include laptop {
  .nav {
    &__portfolio {
      margin-bottom: 25px;
    }
    &__link {
      font-size: 13px;
      &:hover {
        &::before {
          width: 0;
        }
      }
    }
  }
}

@include tablet {
  .nav {
    &__portfolio {
      margin-bottom: 20px;
    }

    &__list {
      &-header {
        margin-left: 20px;
      }
      &-portfolio {
        margin-left: 25px;
      }
    }
    &__link {
      font-size: 10px;
    }
  }
}

@include mobile {
  .nav {
    &__header {
      position: relative;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;

      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 80%;
      height: 100vh;
      padding: 60px 20px 20px;

      background-color: rgb(49, 51, 53);

      transition: 0.3s all;

      &-active {
        right: 0;
      }
      ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 26px;
      }
    }

    &__portfolio {
      margin-bottom: 10px;
    }

    &__list {
      &-header {
        margin-bottom: 25px;
        margin-left: 0;
        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          display: none;
        }

        i {
          display: inline-block;
          margin-right: 10px;

          font-size: 15px;
        }
      }
    }

    &__link {
      &-header {
        font-size: 15px;
      }
      &-portfolio {
        font-size: 8px;
      }
    }

    &-text {
      position: absolute;
      bottom: 5px;
      right: 5px;

      display: block;

      font-size: 8px;
      color: rgb(244, 237, 226, 0.27);
      font-style: italic;

      span {
        display: block;

        text-align: right;
      }
    }
  }
}
