.portfolio {
  padding-bottom: 90px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
  }

  &__item {
    position: relative;

    height: 222px;

    overflow: hidden;
    &:hover {
      .portfolio__content {
        right: 0;

        opacity: 1;
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;

    background-color: rgba(49, 51, 53, 0.9);
    border: 2px #f4ede2 solid;

    opacity: 1;
    transition: 0.35s ease-out all;
  }

  &__descr {
    color: #fff;
    font-family: $second-font;
    font-size: 18px;
  }
}

// @media
@include desktop {
  .portfolio {
    padding-bottom: 70px;
    &__wrapper {
      width: 962px;
    }
  }
}

@include laptop {
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      width: 738px;
    }

    &__content {
      right: 0;

      background-color: rgba(49, 51, 53, 0.8);
      border: 1px #f4ede2 solid;
      opacity: 1;
    }
  }
}

@include tablet {
  .portfolio {
    padding-bottom: 60px;
    &__wrapper {
      width: 546px;
    }

    &__content {
      padding: 20px;
    }

    &__item {
      height: 161px;

      &__descr {
        font-size: 13px;
      }
    }
  }

  @include mobile {
    .portfolio {
      padding-bottom: 30px;
      &__wrapper {
        width: 230px;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }

      &__content {
        padding: 17px;
      }

      &__item {
        height: 140px;
      }

      &__descr {
        font-size: 11px;
      }
    }
  }
}
