.promo {
  &__inner {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    width: 529px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 900;
    line-height: 54px;
  }
  &__descr {
    margin: 12px 0;
    color: #41413f;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 48px;
      font-size: 45px;
      width: 505px;
      color: $grey-color;
      background-color: $black-color;
    }
  }
  &__list {
    margin-bottom: 50px;
    li {
      font-weight: 300;
      list-style-type: none;
      font-size: 18px;
      i {
        color: $black-color;
      }
    }
  }
  &__img {
    &--animated {
      animation-iteration-count: 1;
      animation-name: bounceInDown;
      animation-duration: 1.6s;
      animation-timing-function: linear;
    }
  }
}
