.promo {
  &__inner {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    width: 600px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
  }
  &__descr {
    margin-top: 20px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    span {
      display: block;
      text-transform: uppercase;
      line-height: 27px;
      font-size: 40px;
      font-weight: 900;
      color: $red-color;
    }
  }
}
