.result {
  padding-bottom: 45px;
  min-height: 350px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    margin-right: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px rgb(0 0 0 / 36%), 0 3px 10px rgb(0 0 0 / 22%);
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    svg {
      fill: $grey-color;
      width: 60px;
      height: 60px;
    }
  }
  &__title {
    margin-bottom: 15px;
    font-family: $second-font;
    font-size: 18px;
    text-align: center;
    color: $grey-color;
  }
  &__subtitle {
    font-size: 12px;
    text-align: center;
    color: $grey-color;
  }
}

@include desktop {
  .result {
    min-height: 300px;
    &__icon {
      width: 45px;
      height: 55px;
    }
    &__title {
      font-size: 16px;
    }
    &__subtitle {
      font-size: 10px;
    }
  }
}
