.result {
  padding-bottom: 90px;
  &__wrapper {
    display: grid;
    max-width: 930px;
    grid-template-columns: repeat(3, [col] 1fr);
    grid-template-rows: repeat(2, [row] 1fr);
    margin: 0 auto;
    gap: 20px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    box-shadow: 0 0 5px rgb(0 0 0 / 36%), 0 3px 10px rgb(0 0 0 / 22%);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    svg {
      width: 100%;
      height: 100%;

      fill: $grey-color;
    }
  }

  &__title {
    margin-bottom: 15px;

    font-family: $second-font;
    font-size: 18px;
    text-align: center;
    color: $grey-color;
  }

  &__subtitle {
    font-size: 12px;
    text-align: center;
    color: $grey-color;
  }
}

// @media
@include desktop {
  .result {
    padding-bottom: 70px;
    &__wrapper {
      max-width: 750px;
    }

    &__block {
      padding: 10px;
    }

    &__icon {
      width: 45px;
      height: 45px;
    }

    &__title {
      margin-bottom: 12px;

      font-size: 15px;
      line-height: 17px;
    }

    &__subtitle {
      font-size: 10px;
    }
  }
}

@include laptop {
  .result {
    padding-bottom: 70px;
    &__wrapper {
      max-width: 700px;
    }
  }
}

@include tablet {
  .result {
    padding-bottom: 60px;
    &__wrapper {
      max-width: 537px;
      gap: 15px;
    }

    &__icon {
      width: 35px;
      height: 35px;
      margin-bottom: 5px;
    }

    &__title {
      margin-bottom: 10px;

      font-size: 13px;
      line-height: 14px;
    }

    &__subtitle {
      font-size: 9px;
    }
  }
}

@include mobile {
  .result {
    padding-bottom: 40px;
    &__wrapper {
      grid-template-columns: repeat(2, [col] 1fr);
      grid-template-rows: repeat(3, [row] 1fr);
      width: 290px;
      gap: 10px;
    }

    &__block {
      box-shadow: 0 0 3px rgb(0 0 0 / 36%), 0 3px 10px rgb(0 0 0 / 22%);
    }

    &__icon {
      width: 30px;
      height: 30px;
    }

    &__title {
      margin-bottom: 8px;

      font-size: 10px;
      line-height: 11px;
    }

    &__subtitle {
      font-size: 7px;
    }
  }
}
