.social {
  display: flex;
  justify-content: center;
  &__header {
    &-link {
      @include social-link;
    }
  }
  &__contact {
    margin-bottom: 15px;
    &-link {
      @include social-link;
    }
  }
}

// @media
@include desktop {
  .social {
    &__header {
      &-link {
        margin-right: 12px;
        font-size: 25px;
      }
    }
    &__contact {
      &-link {
        margin-right: 12px;
        font-size: 25px;
      }
    }
  }
}

@include laptop {
  .social {
    &__header {
      &-link {
        font-size: 19px;
        margin-right: 10px;
      }
    }
    &__contact {
      &-link {
        font-size: 22px;
        margin-right: 10px;
      }
    }
  }
}

@include tablet {
  .social {
    &__header {
      &-link {
        font-size: 15px;
        margin-right: 8px;
      }
    }
    &__contact {
      margin-bottom: 40px;
      &-link {
        font-size: 18px;
      }
    }
  }
}
