.social {
  display: flex;
  justify-content: center;
  align-items: center;
  &__contact {
    margin-bottom: 15px;
  }

  &__burger {
    display: none;
  }

  li {
    display: flex;
    align-items: center;
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      color: $grey-color;

      animation-name: zoom;
      animation-play-state: running;
      animation-iteration-count: 1;
      animation-duration: 0.1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }

  &__link {
    font-size: 30px;
    color: $grey-color;

    transition: 0.1s all;
    &:hover {
      color: $grey-color;
    }
  }
}

// @media
@include desktop {
  .social {
    li {
      margin-left: 12px;
    }

    &__link {
      font-size: 25px;
    }
  }
}

@include laptop {
  .social {
    li {
      margin-left: 10px;
      &:hover {
        animation: none;
      }
    }

    &__link {
      &-header {
        font-size: 19px;
      }
      &-contact {
        font-size: 22px;
      }
    }
  }
}

@include tablet {
  .social {
    li {
      margin-left: 8px;
    }

    &__contact {
      margin-bottom: 40px;
    }

    &__link {
      &-header {
        font-size: 15px;
      }
      &-contact {
        font-size: 18px;
      }
    }
  }
}

@include mobile {
  .social {
    &__contact {
      position: absolute;
      bottom: -293px;
      right: 78px;

      margin-bottom: 0;
    }

    &__burger {
      display: flex;
    }

    &__header {
      li {
        margin-left: 5px;
      }
    }

    &__link {
      &-header {
        font-size: 11px;
      }
      &-burger {
        margin-left: 12px;

        font-size: 18px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
