.title {
  text-align: center;
  color: $black-color;
  text-transform: uppercase;
  font-family: $second-font;

  background-color: $grey-color;
  &__about {
    position: absolute;
    top: -26px;
    left: 11px;

    width: 155px;

    font-weight: 900;
    line-height: 34px;
    font-size: 30px;

    transform: rotate(-3deg);
  }

  &__stack {
    width: 243px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;

    font-weight: 700;
    font-size: 16px;
  }

  &__result {
    width: 345px;
    margin: 0 auto;
    margin-bottom: 25px;

    font-weight: 700;
    font-size: 19px;
  }

  &__portfolio {
    width: 310px;
    margin: 0 auto;
    margin-bottom: 20px;

    font-weight: 900;
    line-height: 45px;
    font-size: 45px;
  }

  &__contact1 {
    width: 259px;
    margin: 0 auto;
    margin-bottom: 80px;

    font-weight: 900;
    line-height: 45px;
    font-size: 45px;
  }

  &__contact2 {
    position: absolute;
    top: -22px;
    left: -8px;

    width: 206px;
    margin-bottom: 20px;

    font-weight: 900;
    line-height: 26px;
    font-size: 25px;

    transform: rotate(-2deg);
  }
}

// @media
@include desktop {
  .title {
    &__about {
      top: -20px;
      left: 9px;

      width: 137px;

      line-height: 28px;
      font-size: 27px;
    }

    &__stack {
      width: 213px;
      margin-top: 35px;
      margin-bottom: 13px;
      font-size: 14px;
    }

    &__result {
      width: 306px;

      font-size: 17px;
    }

    &__portfolio {
      width: 248px;

      line-height: 36px;
      font-size: 35px;
    }

    &__contact1 {
      width: 206px;

      line-height: 36px;
      font-size: 35px;
    }
  }
}

@include laptop {
  .title {
    &__about {
      top: -18px;

      width: 117px;

      line-height: 25px;
      font-size: 23px;
    }

    &__stack {
      width: 156px;
      margin-bottom: 11px;
      margin-top: 25px;

      font-size: 11px;
    }

    &__result {
      width: 251px;
      margin-bottom: 25px;

      font-size: 14px;
    }

    &__portfolio {
      width: 209px;

      line-height: 32px;
      font-size: 30px;
    }

    &__contact1 {
      width: 175px;
      margin-bottom: 70px;

      line-height: 32px;
      font-size: 30px;
    }

    &__contact2 {
      top: -19px;
      left: -7px;

      width: 166px;

      line-height: 23px;
      font-size: 20px;
    }
  }
}

@include tablet {
  .title {
    &__about {
      top: -12px;

      width: 80px;

      line-height: 17px;
      font-size: 16px;
    }
    &__stack {
      width: 119px;
      margin-bottom: 8px;
      margin-top: 20px;

      font-size: 8px;
    }
    &__result {
      width: 198px;
      margin-bottom: 17px;

      font-size: 11px;
    }
    &__portfolio {
      width: 171px;

      line-height: 27px;
      font-size: 24px;
    }
    &__contact1 {
      width: 142px;
      margin-bottom: 60px;

      line-height: 27px;
      font-size: 24px;
    }
    &__contact2 {
      top: -14px;
      left: -5px;

      width: 109px;

      line-height: 16px;
      font-size: 13px;
    }
  }
}

@include mobile {
  .title {
    &__about {
      top: -11px;

      width: 70px;

      line-height: 16px;
      font-size: 14px;
    }

    &__stack {
      width: 117px;
      margin-bottom: 7px;

      font-size: 8px;
    }

    &__result {
      width: 171px;
      margin-bottom: 13px;

      font-size: 10px;
    }

    &__portfolio {
      width: 143px;
      margin-bottom: 10px;

      line-height: 23px;
      font-size: 20px;
    }

    &__contact1 {
      width: 119px;
      margin-bottom: 30px;

      line-height: 23px;
      font-size: 20px;
    }

    &__contact2 {
      top: -10px;
      left: -4px;

      width: 91px;

      line-height: 13px;
      font-size: 11px;
    }
  }
}
