.title {
  text-align: center;
  color: $black-color;
  text-transform: uppercase;
  font-family: $second-font;

  background-color: $grey-color;
  &__about {
    position: absolute;
    top: -26px;
    left: 11px;

    width: 155px;

    font-weight: 900;
    line-height: 34px;
    font-size: 30px;

    transform: rotate(-3deg);
  }

  &__result {
    width: 345px;
    margin: 0 auto;
    margin-bottom: 25px;

    font-weight: 700;
    font-size: 19px;
  }

  &__portfolio {
    width: 310px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    line-height: 45px;
    font-size: 45px;
  }

  &__contact1 {
    width: 259px;
    margin: 0 auto;
    margin-bottom: 60px;

    font-weight: 900;
    line-height: 45px;
    font-size: 45px;
  }

  &__contact2 {
    position: absolute;
    top: -22px;
    left: -8px;

    width: 206px;

    font-weight: 900;
    line-height: 26px;
    font-size: 25px;

    transform: rotate(-2deg);
  }
}

// @media
@include desktop {
  .title {
    &__about {
      top: -20px;
      left: 9px;

      width: 137px;

      line-height: 28px;
      font-size: 27px;
    }

    &__result {
      width: 306px;

      font-size: 17px;
    }

    &__portfolio {
      width: 248px;

      line-height: 36px;
      font-size: 35px;
    }

    &__contact1 {
      width: 206px;
      margin-bottom: 40px;

      line-height: 36px;
      font-size: 35px;
    }
  }
}

@include laptop {
  .title {
    &__about {
      top: -18px;

      width: 117px;

      line-height: 25px;
      font-size: 23px;
    }

    &__result {
      width: 251px;
      margin-bottom: 25px;

      font-size: 14px;
    }

    &__portfolio {
      width: 209px;
      margin-bottom: 20px;

      line-height: 32px;
      font-size: 30px;
    }

    &__contact1 {
      width: 175px;
      margin-bottom: 40px;

      line-height: 32px;
      font-size: 30px;
    }

    &__contact2 {
      top: -19px;
      left: -7px;

      width: 166px;

      line-height: 23px;
      font-size: 20px;
    }
  }
}

@include tablet {
  .title {
    &__about {
      top: -12px;

      width: 80px;

      line-height: 17px;
      font-size: 16px;
    }
    &__result {
      width: 198px;
      margin-bottom: 17px;

      font-size: 11px;
    }
    &__portfolio {
      width: 171px;
      margin-bottom: 17px;

      line-height: 27px;
      font-size: 24px;
    }
    &__contact1 {
      width: 142px;
      margin-bottom: 25px;

      line-height: 27px;
      font-size: 24px;
    }
    &__contact2 {
      top: -14px;
      left: -5px;

      width: 109px;

      line-height: 16px;
      font-size: 13px;
    }
  }
}

@include mobile {
  .title {
    &__about {
      top: -15px;

      width: 99px;

      line-height: 20px;
      font-size: 20px;
    }

    &__result {
      width: 230px;

      margin-bottom: 15px;
      font-size: 15px;
    }

    &__portfolio {
      width: 208px;
      margin-bottom: 15px;

      line-height: 34px;
      font-size: 30px;
    }

    &__contact1 {
      width: 181px;
      margin-bottom: 20px;

      line-height: 35px;
      font-size: 31px;
    }

    &__contact2 {
      top: -10px;
      left: -4px;

      width: 91px;

      line-height: 13px;
      font-size: 11px;
    }
  }
}
